@font-face {
  font-family: "iconfont"; /* Project id 3526872 */
  src: url('iconfont.woff2?t=1658934639100') format('woff2'),
       url('iconfont.woff?t=1658934639100') format('woff'),
       url('iconfont.ttf?t=1658934639100') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-riqi:before {
  content: "\e616";
}

.icon-people:before {
  content: "\e6a4";
}

.icon-jiantouyou:before {
  content: "\e62e";
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-huiyuanguanli:before {
  content: "\e76b";
}

.icon-yunyingzhongxintianchong:before {
  content: "\e612";
}

.icon-fangjianshu:before {
  content: "\e625";
}

.icon-bianzu28:before {
  content: "\e627";
}

.icon-caiwuguanli:before {
  content: "\e602";
}

.icon-stores:before {
  content: "\e6b2";
}

.icon-yiliaohangyedeICON-:before {
  content: "\e611";
}

.icon-qita:before {
  content: "\e600";
}

.icon-bianji:before {
  content: "\e649";
}

.icon-shaixuan:before {
  content: "\e610";
}

.icon-tongji:before {
  content: "\e660";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-53gerenzhongxin-1:before {
  content: "\e640";
}

.icon-tianjia:before {
  content: "\e613";
}

.icon-saomafukuan-:before {
  content: "\e645";
}

.icon-dingdan:before {
  content: "\e6a3";
}

.icon-wenjian:before {
  content: "\e626";
}

